.welcome-div {
    margin-top: 60%;
    justify-content: center;
}

.welcome-text {
    color: #1E1E1E;
    text-align: center;
    justify-content: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Odor Mean Chey';
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 48.889% */
    letter-spacing: 3px;
}

.img {
    margin-top: 22%;
    width: 60%;
    height: auto;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.logoup {
    display: block;
    margin-top: 17%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
}

.order-div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background: #19342D;
    width: 90%;
    height: 57px;
    margin-top: 5%;
    flex-shrink: 0;
    color: #FFF;
}

.upper-text {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Odor Mean Chey;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    /* 88% */
    letter-spacing: 1px;
}

.historyorder {
    color: #BEBEBE;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Odor Mean Chey;
    font-size: 20px;
    font-weight: lighter;
    /* 110% */
    letter-spacing: 1px;
    margin-top: 51px;
}

/* Navbar */
.navbar {
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    margin: 0px;
    bottom: 0;
    color: 909090;
    width: 110%;
    float: left;
    height: 12%;
    overflow: hidden;
    margin-left: 0;
    list-style-type: none;
    overflow: hidden;
    left: 0;
    width: 110%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.main {
    padding: 16px;
    margin-bottom: 30px;
}

.profile-div {
    background-color: #19342D;
}

.div-icon {
    background: #FFD234;
}